﻿@model WebMyCare.Models.Advertise

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Advertise</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UrlHinh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UrlHinh)
            @Html.ValidationMessageFor(model => model.UrlHinh)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KindId, "Kind")
        </div>
        <div class="editor-field">
            @Html.DropDownList("KindId", String.Empty)
            @Html.ValidationMessageFor(model => model.KindId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
