﻿@model WebMyCare.Models.Advertise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Advertise</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UrlHinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UrlHinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Kind.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Kind.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AdvertiseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
