﻿@model IEnumerable<WebMyCare.Models.Advertise>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlHinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kind.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlHinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kind.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdvertiseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdvertiseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdvertiseId })
        </td>
    </tr>
}

</table>
