﻿@model Blog_4.Models.Tag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tag</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>
</fieldset>

@*<fieldset>
    <legend>Post</legend>
    @foreach(var post in Model.Posts)
    {
        <div>
            @Html.DisplayFor(p => post.Title)
        </div>
    }
</fieldset>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TagID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
